.main-footer {
    background-color: #ececec;

    & small {
        align-self: center;
        padding: 10px 0 3px;
    }

    .nav-social {
        cursor: pointer;

        :not(:last-child) {
            padding-right: 8px;
        }

        :hover {
            .fa {
                fill: #3b5998;
            }

            .in {
                fill: #ea4c56;
            }

            .tw {
                fill: #1da1f2;
            }
        }

    }
}