.main-footer {
    background-color: #ececec;

    & small {
        align-self: center;
        padding: 10px 0 3px;
    }

    .nav-social {
        cursor: pointer;

        :not(:last-child) {
            padding-right: 8px;
        }

        .fa {
            & :hover {
                fill: #3b5998;
            }

            @include for-mobile-layout {
                fill: #3b5998;
            }
        }

        .in {
            & :hover {
                fill: #ea4c56;
            }

            @include for-mobile-layout {
                fill: #ea4c56;
            }
        }

        .tw {
            & :hover {
                fill: #1da1f2;
            }

            @include for-mobile-layout {
                fill: #1da1f2;
            }
        }
    }

}