   
.heart{
    cursor: pointer;
    transition: 0.3s;
    &.heart-empty {
        fill: lightgray !important;
        transition: 0.3s;
        height: 25px;
        width: 25px;
        &:active {
        fill: #FC3A3A   !important;
        transition: 0.3s;
        }
        &:hover {
            fill: #FC3A3A50 !important;
        }
    }
    &.heartfill{
        fill: #FC3A3A !important;
        transition: 0.3s;
        height: 25px;
    width: 25px;
        &:active {
        fill: lightgray   !important;
        transition: 0.3s;
        }
    }
    

}



