.pet-filter {
    display: flex;
    justify-self: center;
    height: 70px;
    background-color: rgb(255, 255, 255);
    width: 650px;
    border-radius: 50px;
    border: 1px solid #dadada;
    transition: 0.3s ease-in-out;
    box-shadow: 0 0 10px 0 #0000001c;
    margin-bottom: rem(100px);
    // position: absolute;
    // top: 50px;
    // left: 50px;

    & > a {
        display: flex;
        background-color: #36baa0;
        border-radius: 50px;
        margin: 5px 15px 10px 15px;
    }

    & > a:hover {
        background-color: #36baa0;
        box-shadow: none;
        border-radius: 50px;
    }
}

.filter-search {
    display: flex;
    align-self: center;
    padding: 10px;
}

.filter-select {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    width: 100px;
    padding: 10px 15px 10px 25px;
    border-radius: 50px;
    color: #6b6a6a;
    background-color: rgb(255, 255, 255);

    & > label {
        // margin-top: 10px;
        padding: 0;
    }

    & > input {
        padding: 4px 0;
        width: 60px;
    }

    &:hover {
        box-shadow: 0 0 10px 0 #0000001c;
    }
}

.main-select {
    width: 120px;
    appearance: none;
    border: none;
    outline: none;
    border: none;
    font-size: 1rem;
    background-color: rgb(255, 255, 255);
}

.gender-select {
    width: 20%;
}
.age-select {
    width: 15%;
}
.pet-select {
    width: 15%;
}
.size-select {
    width: 13%;
}
.location-select {
    outline: none;
    border: none;
    width: 78%;
    & > label {
        margin-top: -4px;
    }
}

a {
    & > .search-btn {
        padding: 5px;
    }
}
