.pet-filter {
    display: flex;
    justify-self: center;
    background-color: white;
    z-index: 100;
    margin-right: auto;
    margin-left: auto;
    border-radius: 200px;
    max-width: 800px;
    left: 0;
    right: 0;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);

    @include for-mobile-layout {
        margin-block-end: 175px;
    }

    & > a {
        display: flex;
        background-color: #36baa0;
        margin: 5px 15px 10px 15px;
    }

    & > a:hover {
        background-color: #36baa0;
        box-shadow: none;
        border-radius: 50px;
    }
}

.filter-search {
    display: flex;
    align-self: center;
    width: 29px;

    @include for-mobile-layout {
        width: 27px;
    }
}

.filter-select {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100px;
    padding: 10px 15px 10px 25px;
    border-radius: 50px;
    color: #6b6a6a;
    background-color: rgb(255, 255, 255);

    @include for-mobile-layout {
        padding: 6px 0px 6px 0;
    }

    @include for-narrow-layout {
        padding: 10px 10px 10px 25px;
    }

    &:hover {
        box-shadow: 0 0 10px 0 #0000001c;
        z-index: 10;
    }
}

.main-select {
    width: 66px;
    appearance: none;
    border: none;
    outline: none;
    border: none;
    font-size: 1rem;
    background-color: rgb(255, 255, 255);
}

.gender-select {
    width: 25%;
}

.age-select {
    width: 25%;
}

.pet-select {
    width: 25%;

    @include for-mobile-layout {
        padding: 6px 0px 6px 16px;
    }
}

.size-select {
    width: 25%;
}

.location-select {
    width: 130px;
    outline: none;
    border: none;
    width: 100%;
    min-width: 83px;

    @include for-mobile-layout {
        display: none;
    }
}

.search-btn {
    background-color: #36baa0;
    border-radius: 50%;
    width: 52.5px;
    height: 52.5px;
    align-self: center;
    padding-right: 23px;

    @include for-mobile-layout {
        width: 49px;
        height: 40px;
        padding-right: 0;
    }
}

.select-modal-type {
    position: absolute;
    width: 200pxx;
    margin-top: 50px;
    background-color: #ffffff;
    padding: 10px;
    
    option:hover{
background-color: #bdbdbdb7;
    }
   
}

.select-modal-age {
    position: absolute;
    width: 200pxx;
    margin-top: 50px;
    background-color: #ffffff;
    padding: 10px;
    
    option:hover{
background-color: #bdbdbdb7;
    }
   
}.select-modal-gender {
    position: absolute;
    width: 200pxx;
    margin-top: 50px;
    background-color: #ffffff;
    padding: 10px;
    
    option:hover{
background-color: #bdbdbdb7;
    }
   
}.select-modal-size {
    position: absolute;
    width: 200pxx;
    margin-top: 50px;
    background-color: #ffffff;
    padding: 10px;
    
    option:hover{
background-color: #bdbdbdb7;
    }
   
}

select-label{
    position: relative;
}