.pet-card-container {
    display: flex;
    flex-direction: column;

    .img-container {
        height: 160px;
        border-radius: 10px;
        margin-block-end: 8px;
    }
    
    img {
        height: 165px;
        border-radius: 10px;
        object-fit: cover;
        cursor: pointer;
    }

    .card-info {
        padding: 5px;
    }

    .pet-name-gender {
        justify-content: space-between;
        .gender{
            height: 24px;
            width: 24px;
        }
    }

    .pet-preview-host {
        justify-content: space-between;
        p{
            color:$clr8;
        }

    }
    .pet-preview-likes{
        :first-child{
            cursor: pointer;
            margin-inline-end: 6px;
        }
        :last-child{
            font-size: 1.125rem;
        }
    }
}