.card-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
    gap: 30px 15px;
    padding-top:30px;
    margin-block-end: 20px
}

.explore-container{
    margin-top: 80px;
}

.explore-search {
    cursor: pointer;
    top: 9px;
    left: 45%;
    // right: 50%;
    align-items: center;
    display: flex;
    padding: 0 0 0 0.6rem;
    color: #1e1e1e;
    font-size: .9rem;
    font-weight: 700;
    position: fixed;
    z-index: 101;
    border-radius: 200px;
    line-height: 49px;
    border: #dadada 1px solid;


    &>.search-btn-explore {
        background-color: $clr9;
        background-color: #36b99f;
        // color: whitesmoke;
        padding: 4px 3px;
        margin: 3px 7px 3px 30px;
        border-radius: 50%;
        width: 35px;
        height: 35px;


        &>img {
            padding: 3px;
            
            // width: 40px;
            // height: 40px;
        }
    }
}