.hero {
    background-image: url("https://res.cloudinary.com/dstqymucm/image/upload/v1622383981/petMe/hero-img/6_ulbdue.jpg");
    height: 90vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 50px;
    position: relative;

    .hero-content {
        color: aliceblue;
        position: absolute;
        left: 20%;
        top: 35%;
        h1 {
            font-family: avenir-black;
            font-size: rem(100px);
            &:last-child{
                padding-left: rem(100px);
            }
        }
        
    }
}

.type-cards {
    display: flex;
    flex-direction: column;

    & h2 {
        margin-bottom: 10px;
    }

    .type-img {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-block-end: 20px;

        & img {
            height: 300px;
            width: 250px;
            object-fit: cover;
            border-radius: 10px;
            cursor: pointer;
        }
    }

    .preview-cards {
        display: flex;
        justify-content: space-between;
        margin-block-end: 20px;

        >* {
            height: 250px;
            width: 250px;
        }
    }
}

.homepage-about {
    background-color: $clr7;
    color: white;

    .inner-container {
        flex: 1 1 50%;
        padding: rem(40px) 0;

        .about-content {
            display: flex;
            flex-direction: column;
            // justify-content: space-between;
            flex: 1;
            margin-inline-end: 20px;

            h2 {
                margin-block-end: 15px;
            }

            p:not(:last-of-type) {
                margin-block-end: 10px;
            }

            p:nth-child(4) {
                flex: 1;
            }
        }

        .about_imgs {
            flex: 1;
            height: unset;
            display: grid;
            gap: 15px;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 190px 190px;

            >* {
                border-radius: 20px;
                object-fit: cover;
            }

            :last-child {
                grid-column: 1 / span 2;
            }
        }
    }
}

.preview-container {
    display: flex;
    flex-direction: column;

    &>.preview-images {
        display: flex;
    }
}

.homepage-section-info {

    .content {
        display: flex;
        padding: 40px 0;

        >* {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            flex: 1 1 0;
            min-width: auto;

            &:not(:last-child) {
                margin-inline-end: 18px;
            }
        }
    }
}