.hero {
    background-image: url("https://res.cloudinary.com/dstqymucm/image/upload/v1622383981/petMe/hero-img/6_ulbdue.jpg");
    height: 90vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 50px;
    position: relative;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    // @include aspect-ratio(100vh, 90vh)
    // align-items: center;

    .hero-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-block-start: rem(50px);
        color: aliceblue;
        // position: absolute;
        // left: 28%;
        // top: 4%;
        h1 {
            font-family: avenir-black;
            font-size: rem(100px);
        }
    }
}

.type-cards {
    display: flex;
    flex-direction: column;
    & h2 {
        margin-bottom: 20px;
    }

    
    .type-img {
        display: flex;
        // justify-content: space-between;
        flex-wrap: wrap;
        margin-block-end: 20px;
        @include for-narrow-layout {
            justify-content: space-evenly;
        }
        @include  for-wide-layout {
            justify-content: space-between;
        }
       
 
        & img {
            height: 300px;
            width: 250px;
            object-fit: cover;
            border-radius: 10px;
            cursor: pointer;
            @include for-narrow-layout {
                height: 300px;
                width: 225px;
            }
            @include for-normal-layout {
                height: 300px;
                width: 250px;
            }  
        }
    }
    
    .preview-cards {
        display: flex;
        justify-content: space-between;
        margin-block-end: 40px;

        >* {
            height: 250px;
            width: 250px; 
        }
    }
}

.homepage-about {
    // background-color: $clr7;
    background-image: url(https://res.cloudinary.com/dstqymucm/image/upload/v1622467842/petMe/hero-img/boy-and-cat_xqeqwq.jpg);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 500px;
    // color: white;
    // filter: blur(1.5px);
    
    // .inner-container {
    //     padding: rem(40px) 0;
        // .about-content {
        //     display: flex;
        //     flex-direction: column;
        //     // justify-content: space-between;
        //     flex: 1;
        //     margin-inline-end: 20px;
            
        //     h2 {
        //         margin-block-end: 15px;
        //     }
            
        //     p:not(:last-of-type) {
        //         margin-block-end: 10px;
        //     }
        //     p:nth-child(4) {
        //         flex: 1;
        //     }
        // }
        
        .about_imgs {
            flex: 1;
            height: unset;
            display: grid;
            gap: 15px;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 190px 190px;

            >* {
                border-radius: 20px;
                object-fit: cover;
            }
            :last-child {
                grid-column: 1 / span 2;
            }
        }
        .blur{
            // background-color:black;
            backdrop-filter: blur(5px);
            width: 100%;
            height: 100%;
            .about-content {
            position: relative;
            bottom: 0;
            color: white;
        }
        }
    }




.preview-container {
    display: flex;
    flex-direction: column;

    &>.preview-images {
        display: flex;
    }
}

.homepage-section-info {

    .content {
        display: flex;
        padding: 40px 0;

        >* {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            flex: 1 1 0;
            min-width: auto;
            p:not(:last-of-type){
                padding-inline-end: 5px;
            }

            &:not(:last-child) {
                margin-inline-end: 20px;
            }
        }
    }
}