.details-header {
    margin-top: 75px;

    .details-title {
        flex: 1;
    }

    .details-header-btns {
        display: flex;
        // align-items: center;
        // justify-content: center;
        gap: 0.5em;
        margin-top: 8px;

        & > * {
        }

        & .pet-like-btn {
            cursor: pointer;
            background-color: #ffffff;
        }

        .share-pet {
            cursor: pointer;
            color: #6b6a6a;

            :hover {
                color: black;
            }
        }
    }
}

.details-imgs-container {
    width: 100%;
    justify-content: center;
    align-items: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 165px 165px;
    gap: 8px;
    margin-bottom: 20px;

    & img {
        object-fit: cover;
        width: 100%;
        height: 100%;
    }

    & :first-child {
        grid-column: 1 / span 2;
        grid-row: 1 / span 2;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
    }

    & :nth-child(3) {
        border-top-right-radius: 10px;
    }

    & :nth-child(5) {
        border-bottom-right-radius: 10px;
    }
}

.details-main-section {
    flex-direction: column;
    border-bottom: 1px solid #d3d3d3;
    margin-bottom: 20px;
    padding-bottom: 10px;
    text-transform: capitalize;

    @include for-normal-layout {
        flex-direction: row;

        & .pet-info-list {
        }
    }

    .details-info-container {
        flex: 1;
        margin-right: 1rem;
        // margin-left: auto;
        text-align: left;
        // padding: 0 12px;

        & .info-header {
            justify-content: space-between;

            & .info-header-txt h3 {
                margin-bottom: 5px;
            }

            & .info-header-txt span {
                padding: 5px 0 15px;
                margin-bottom: 10px;
            }

            & img {
                width: 60px;
                height: 60px;
                border-radius: 50%;
                object-fit: cover;
            }
        }

        & .info-body {
            & .read-more {
                border-bottom: 1px solid #d3d3d3;
                padding-bottom: 5px;
                margin-bottom: 20px;
                color: #6b6a6a;
            }

            & .pet-info-list {
                text-align: left;
                // padding-bottom: 20px;
                border-bottom: 1px solid #d3d3d3;
                // margin-bottom: 15px;
                color: #1e1e1e;
                display: flex;
                justify-content: space-between;

                .left-info-list {
                    display: flex;
                    flex-direction: column;
                    // margin-right: 100px;
                }
                .right-info-list {
                    display: flex;
                    flex-direction: column;
                    margin-right: 20px;
                }
                li {
                    margin-block-end: 10px;

                    :first-child {
                        width: 24px;
                        height: 24px;
                        color: $clr9;
                    }
                }

                li p {
                    margin-inline-start: 10px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }

            @include for-normal-layout {
                .pet-info-list {
                    border-bottom: unset;
                    padding-bottom: unset;
                }
            }
        }
    }

    & .adopt-modal-container {
        flex-direction: column;
        gap: 20px;
        border: 1px solid #d3d3d3;
        border-radius: 12px;
        padding: 24px;
        box-shadow: 0 6px 16px #0000001f;
        background-color: snow;
        color: #1e1e1e;
        justify-content: center;
        height: fit-content;
        max-height: 300px;
        position: -webkit-sticky;
        position: sticky;
        top: 70px;
        right: 0;
        z-index: 5;
        max-width: 100%;
        // width: 320px;

        & span {
            color: #6b6a6a;
        }

        & .adopt-sign {
            font-size: 1rem;
            text-align: left;
            margin-left: 5px;
            border-top-left-radius: 3px;
            border-bottom-left-radius: 3px;
            // padding: 0px 10px;
        }

        & .el-btn {
            display: inline-block;
            line-height: 1;
            white-space: nowrap;
            cursor: pointer;
            background: #fff;
            border: 1px solid #dcdfe6;
            color: #606266;
            -webkit-appearance: none;
            text-align: center;
            box-sizing: border-box;
            outline: 0;
            margin: 0;
            transition: 0.1s;
            font-weight: 500;
            padding: 12px 20px;
            font-size: 14px;
            border-radius: 4px;
        }

        & .adopt-btn {
            font-size: rem(25px);
            padding: 15px 45px;
            // margin-right: auto;
            // margin-left: auto;
            margin-bottom: 10px;
            color: snow;
            background-color: #36b99f;
            border-radius: 8px;
            transition: 0.3s;

            &:hover {
                background-color: #fff;
                color: #6b6a6a;
                border-radius: 8px;
                border-color: #36b99f;
            }
        }

        @include for-wide-layout {
            .adopt-modal-section {
                height: 50%;
                position: -webkit-sticky;
                position: sticky;
                top: 70px;
                right: 0;
                z-index: 5;
                width: 300px;
            }
        }

        @include for-normal-layout {
            .adopt-modal-section {
                height: 50%;
                top: 70px;
                right: 0;
                z-index: 5;
                width: 260px;
            }
        }
    }
}

.google-map {
    .pet-location {
        display: flex;
        color: #6b6a6a;
        :first-child {
            width: 0.8em;
            height: 0.9em;
        }
    }
}

//some self helpers

.map-pin svg {
    fill: #36b99fde;
    height: 48px;
    width: 48px;
    color: white;
    display: inline-flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    transform: translate(-50%, -50%);
}

.binoculars {
    width: 25px;
    height: 25px;
    // margin-right: 5px;
}
.paw {
    width: 25px;
    height: 25px;
}

.thumb-up {
    // margin-right: 5px;
}
