.main-profile {
    // margin-top: 85px;

}

.user-card {
    display: flex;
    left: 50px;
    margin-top: 100px;
}

.user-rate{
    display: flex;
    align-items: flex-start;
}
.profile-img {
    margin-right: 20px;
    img {
        margin: 10px;
        width: 180px;
        height: 180px;
        border-radius: 50%;
        object-fit: cover;
    }
}
.user-info {
    left: 50px;
    display: flex;
    flex-direction: column;
    width: 200px;
    text-transform: capitalize;
    h1 {
        font-size: rem(33px);
        margin-top: 10px;
        font-family: avenir-black;
        margin-bottom: -5px;
    }
    h4{
        font-size: rem(20px);
        margin-bottom: 15px;
        color: #afafaf;
        &.italic{
            font-size: rem(20px);
            font-style: italic;
            // margin-bottom: 40px;
            color: #858585;
            margin-left: -4px;
        }
    
    }
}

.MuiSvgIcon-root{
margin-top: -1px;
    margin-left: -3px;
}
.location-info {
    display: flex;
    align-items: center;
    font-size: rem(25px);
    margin-left: -2px;
    margin-bottom: 4px;


    img {
        margin: 0 1px 5px 0;
        width: 25px;
        height: 25px;
    }
}
.profile-pets-container {
    gap: 10px;
    & .user-requests {
        border-inline-start: 1px solid #d3d3d3;;
        padding-inline-start: 5px;
    }
}

.profile-pets-container > * {
       width: 50%; 
} 

.user-pets {
    // position: absolute;
    background-color: rgb(209, 230, 230);
    // width: 700px;
    right: 50px;
}

.adopt-card {
    margin-top: 40px;
    img {
        height: 200px;
        width: 150px;
        object-fit: cover;
        border-radius: 10px;
    }
}

.adopt-table {
    display: flex;
    justify-content: flex-end;
}

.adopt-table {
    img {
        margin-right: 20px;
    }
    td {
        padding: 10px;
    }
    table {
        width: 100%;
    }
}

.pet-table-card {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
.table-head {
    tr {
        background-color: $clr9;

        td {
            padding-left: 10px;

            &:first-child {
                padding: 10px;
                border-radius: 10px 0 0 0;
            }

            &:last-child {
                border-radius: 0 10px 0 0;
            }
        }
    }
}

.table-body {
    tr {
        border-top: 1px solid #d3d3d3;
        background-color: #d3d3d3;
    }

    td {
        padding-left: 10px;
    }
}
.request-list {
    min-width: 320px;
    gap: 10px;
    & .request-card {
        // position: absolute;
        max-width: fit-content;
        padding: 10px;
        border-radius: .3125rem;
        border: 1px solid #cac3c3;
        font-size: 13px;
        // width: 600px;
        .main-card-section {
            position: relative;
            height: 100px;
            display: flex;
            gap: 10px;
            & .pet-img {
                flex-basis: 20%;
                border-radius: .3125rem;
                height: 100%;
                object-fit: cover;
                
            }
            & .request-info {
                // flex: 1;
                flex-basis: 70%;
                display: flex;
                flex-direction: column;
                grid-gap: 8px;
                gap: 8px;
                cursor: default;

                & div {
                    gap: 5px;
                }
            }
        }
    }
}
