.main-profile {
    margin-top: 85px;
}

.user-card {
    // position: absolute;
    left: 50px;
    margin-top: 100px;
}

.user-info {
    left: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #d3d3d3;
    width: 200px;
    border-radius: 10px;

    h1 {
        margin-top: 10px;
        font-family: avenir-black;
    }

    img {
        margin: 10px;
        width: 100px;
        height: 100px;
        border-radius: 50%;
        object-fit: cover;
    }
}

.location-info {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: rem(25px);

    img {
        margin: 0 1px 5px 0;
        width: 25px;
        height: 25px;
    }
}

.user-pets {
    // position: absolute;
    background-color: rgb(209, 230, 230);
    width: 700px;
    right: 50px;
}

.adopt-card {
    margin-top: 40px;
    img {
        height: 200px;
        width: 150px;
        object-fit: cover;
        border-radius: 10px;
    }
}

.adopt-table {
    display: flex;
    justify-content: flex-end;
}

.adopt-table {
    img {
        margin-right: 20px;
    }
    td{
        padding: 10px;
    }
    table{
        width: 400px;
    }

}

.table-head {
    tr {
        background-color: $clr9;

        td {
            padding-left: 10px;

            &:first-child {
                padding: 10px;
                border-radius: 10px 0 0 0;
            }

            &:last-child {
                border-radius: 0 10px 0 0;
            }
        }
    }
}

.table-body {
    tr {
        border-top: 1px solid #d3d3d3;
        background-color: #d3d3d3;
    }

    td {
        padding-left: 10px;
    }
}